// Content wrapper
.wrap { }

// Main content area
.banner {
  .container-fluid {
    overflow: hidden;
    padding: 0;
  }
}
#logo {
  margin-left: -5%;
  width: 110%;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  background-position-x: center;
  background-position-y: center;

  img {
    padding: 10px;
  }

  #tools {
    position: absolute;
    top: 0%;
    right: 10%;
    background-color: @subheadings-color;
    color: @body-bg;
    font-size: @font-size-base;
    border: none;
    border-radius: 0px;
  }
}
.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

//Post list styling
article.post {
  margin: 10px 0;
}
.post-header {
  height: floor((4 * @line-height-computed));
  overflow: hidden;
}
.post-entry-summary {
  height: floor(4 * @line-height-computed);
  overflow: hidden;
}

@media (max-width: @screen-sm-min) {
  .post-header {
    height: floor(2 * @line-height-computed);
    overflow: hidden;
  }
  .post-entry-summary {
    height: floor(2 * @line-height-computed);
    overflow: hidden;
  }
}

// Post thumbnail styling
figure.post-thumbnail {
  height:300px;
  overflow: hidden;
}

img.attachment-post-thumbnail {
  width: auto !important;
  height: 100% !important;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}


