// Content wrapper
.wrap { }

body {
}

footer {
  padding: 10px;
  font-family: @headings-font-family;
  font-weight: 200;
  color: rgb(210,181,61);
  background: rgb(64,112,127);

  a {
    color: rgb(210,181,61) !important;
  }

  .margin-top {
    margin-top: 20px;
  }
}

.wrap.container {
background: @body-bg;
padding-top: 25px;
margin-top: -25px;
}

// Main content area
.banner {
  .container-fluid {
    overflow: hidden;
    padding: 0;
  }
}
#logo {
  margin-left: -5%;
  width: 110%;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  background-position-x: center;
  background-position-y: center;

  img {
    padding: 10px;
  }

  #tools {
    position: absolute;
    top: 0%;
    right: 10%;
    background-color: @subheadings-color;
    color: @body-bg;
    font-size: @font-size-base;
    border: none;
    border-radius: 0px;
  }
}

.navbar-default .navbar-collapse {
  padding: 0 10px !important;
}

.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

//Post list styling
article.post {
  margin: 10px 0;
}
.post-header {
  height: floor((4 * @line-height-computed));
  overflow: hidden;
}
.post-entry-summary {
  height: floor(4 * @line-height-computed);
  overflow: hidden;
}

@media (max-width: @screen-sm-min) {
  .post-header {
    height: 50px;
    overflow: hidden;
  }
  .post-entry-summary {
    height: floor(2 * @line-height-computed);
    overflow: hidden;
  }
}

// Post thumbnail styling
figure.post-thumbnail {
  height:300px;
  overflow: hidden;
}

img.attachment-post-thumbnail {
  width: auto !important;
  height: 100% !important;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

// List options

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled  ul{
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.list-inline ul {
  .list-unstyled();
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    width: 49%;
  }
}


